


$primary-color: #252424;
$gradient-primary-color: #121518;


$secondary-color: rgb(255 84 0 / 97%);
$gradient-secondary-color: #d14708;


$color-white: #f0f0f0;
$color-white-gradient: #d4d4d4;

$color-line: #ff9e07;
